Uname{
    color: black;
    font-family: copperplate Gothic Light;
    font-size: 16pt;
    font: bold;
}
City,Rank{
    color: yellow;
    font-family: Arial;
    font-size: 12pt;
    font: bold;
}